---
layout: default
title: Nathan McGinness
---

{% for post in site.posts %}
  <section class="post-home">
    <span class="date grid_3 alpha">
      {{ post.date | date: "%d %B %Y" }}
      {% if post.external %}
        <a class="permalink" href="{{ post.url }}">Permalink</a>
      {% endif %}
    </span> 
    <h1 class="grid_14 omega">
      {% if post.summary-only %}
        {% if post.external %}
          <a href="{{ post.external }}">{{ post.title }} <span class="external">&#x219D;</span></a>
        {% else %}
          <a href="{{ post.url }}">{{ post.title }}</a>           
        {% endif %}
      {% else %}
         <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}              
    </h1>
    {% if post.image-path %}
      {% if post.external %}
        <a href="{{ post.external }}"><img class="{{ post.no-shadow }}" src="{{ post.image-path }}"/ ></a>
      {% else %}
        <a href="{{ post.url }}"><img class="{{ post.no-shadow }}" src="{{ post.image-path }}"/ ></a>
      {% endif %}       
    {% endif %}
    {% if post.youtube %}
      <iframe width="550" height="452" src="{{ post.youtube }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% if post.vimeo %}
      <iframe src="{{ post.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0f314a" width="550" height="309" frameborder="0"></iframe>
    {% endif %}    
    {% if post.summary-only %}
        <div class="summary">
        {{ post.content }}
        </div>        
    {% else %}
       <p class="post-summary grid_14 prefix_3 alpha omega">{{ post.summary }}</p>
    {% endif %}    
    <div class="clear"></div>
  </section>
{% endfor %}