---
layout: default
title: Nathan McGinness
---

{% for post in site.posts %}
  <section class="post-home">
    <span class="date grid_3 alpha">{{ post.date | date: "%d %B %Y" }}</span> 
    <h1 class="grid_14 omega">
      {% if post.summary-only %}
        {% if post.external %}
          <a href="{{ post.external }}">{{ post.title }} <span class="external">&#x219D;</span></a>
        {% else %}
          {{ post.title }}           
        {% endif %}
      {% else %}
         <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}              
    </h1>
    {% if post.image-path %}
      {% if post.external %}
        <a href="{{ post.external }}"><img src="{{ post.image-path }}"/ ></a>
      {% else %}
        <a href="{{ post.url }}"><img src="{{ post.image-path }}"/ ></a> 
      {% endif %}       
    {% endif %}
    
    {% if post.summary-only %}
        <div class="summary">
        {{ post.content }}
        </div>
    {% else %}
       <p class="post-summary grid_14 prefix_3 alpha omega">{{ post.summary }}</p>
    {% endif %}
    
    <div class="clear"></div>
  </section>
{% endfor %}