<div id="work">
  <h1><a href="/about.html">About me</a></h1>
  <p>After five years in Australia&rsquo;s top digital agencies I moved to San Francisco as the 4th team member, and Head of Design at <a href="http://topguest.com">Topguest</a>. Topguest was acquired by <a href="http://www.ezrez.com/">EzRez</a> in late 2011.</p>
  <p>I design interfaces and webpages. I build things with HTML, CSS &amp; JS. I dream up applications, sketch out ideas and wireframes. I solve communication and structural problems.  I work with and lead small production teams.</p>
</div>