$link-color: #cc092f;
$text-color: #444444;
$hover-color: #167499;
$white: #f8f8f8;

@mixin box-shadow {
	-webkit-box-shadow: 0px 0px 3px #dadada;
	-moz-box-shadow: 0px 0px 3px #dadada;
	box-shadow: 0px 0px 3px #dadada;
}
@mixin text-shadow {
	text-shadow: 0px 0px 5px #88192e;
}

@mixin proxima-bold {
	font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
	font-weight: 700;
}
@mixin proxima-italic {
	font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
	font-weight: 400;
	font-style: italic;
}
body {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
	font-size: 13px;
	line-height: 20px;
	color: $text-color;
}
h1, h2, h3, h4, h5, h6 {	
	@include proxima-bold;	
}
p {
	margin-bottom: 20px;
}
a, a:visited, a:link {
	color: $link-color;
	text-decoration: none;
}
a:hover {
	color: $hover-color;
}


#container .grid_24 {
	position: relative;
}
header {
	width: 852px;
	background: $link-color;
	float: right;
	@include box-shadow;
	h1 {
		font-size: 26px;
		line-height: 32px;
		margin: 14px 0 14px 26px;
		@include text-shadow;	
		a {
			color: $white !important;
		}
	}
}
#sidebar {
	position: absolute;
	top: 0;
	right: 0;
	#fixed {
		@include proxima-bold;
		position: fixed;
		background-color: rgba(255,255,255,.9);
		@include box-shadow;
		padding: 10px 16px;
		width: 158px;
	}
	nav {
		display: block;
		overflow: hidden;
		li {
			width: 79px;
			float: left;
			a {
				display: block;
				&.selected {
					color: $text-color;
					cursor: default;
				}
			}
		}
		&#main-nav {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
}
#main {
	margin-top: 40px;
}

@mixin body-h1 {
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 12px;
}
/*homepage*/
.post-home, #post {
	margin-bottom: 30px;
	overflow: hidden;
	.date {
		@include proxima-italic;
		font-size: 11px;
		text-align: right;
		padding-right: 20px;
		width: 90px;
		margin-top: 9px;
	}
	h1 {
		@include body-h1;
	}
	img, #post-body {
		margin-left: 120px;
	}
}

/*homepage*/
section.work {
	margin-left: 120px;
	margin-bottom: 40px;
	h1 {
		@include body-h1;
	}
	&.multiple img {
		margin-bottom: 30px;
	}
	img.shadow {
		@include box-shadow;
	}
}
