$text-color: #292b2b;
$regular-weight: 300;
$bold: 600;
$heading-bold: 800;
$border-height: 7px;
$link-color: #b93c48;
$alternate-color: #1E6386;

@mixin box-shadow {
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .1);
}

body {
	background-color: #fff;
	background: url(/images/bg.png) repeat;
	font: normal 112.5% 'kepler-std-1', Georgia, serif;  /*18 px default*/
	color: $text-color;
	font-weight: $regular-weight;
	line-height: 1.625em;
	border-top: $text-color $border-height solid;
}
b {
	font-weight: $bold;
}
a, a:visited {
	color: $link-color;
	text-decoration: none;
}
a:hover {
	color: $alternate-color;
}
h1, h2, h3, h4, h5, nav {
	font: normal 100% 'proxima-nova-1', Helvetica, sans-serif;
	font-weight: $heading-bold;
	text-transform: uppercase;
	letter-spacing: .125em;
}
h1 {
	margin-bottom: 40px;
	line-height: 1.15em;
	font-size: 1.75em; /*28 / 16*/
}
p {
	margin-bottom: 30px;
}

#container {
	width: 94.2372881355932%;
	margin: 0 auto; /*1112 / 1180*/
}
#logo {	
	width: 176px; /*162 / 1180 */
	float: left;	
	img {
		margin-top: 32px;
		position: fixed;
	}
}

#main-column {
	width: 80.508474576271186%; /*950 / 1180*/
	float: left;
}
header {
	width: 100%;
	padding-top: 80px;
	padding-bottom: 60px;
	h1 {		
		display: none;
	}
	svg {
		margin-bottom: 70px;
	}
}
#sidebar {
	width: 36.842105263157895%; /*350 / 950*/
	float: left;
	margin-right: 5.263157894736842%; /*50 / 950 */
	#links, #work {
		border-top: $text-color $border-height solid;
		padding-top: 40px;
		padding-bottom: 30px;
	}
}
#blog {
	width: 57.894736842105263%; /*550 / 950 */
	float: left;	
}
.clear {
	clear: both;
}
nav {
	font-size: 0.666666666666667em;
	li {
		float: left;
		margin-bottom: 20px;
		width: 25%;
	}
}


.intro {
	font-size: 1.611111111111111em; /* 29px / 18px */
	font-style: italic;
	margin-bottom: 3px;
	margin-bottom: 12px;
	b {
		font-weight: $bold;
	}
	a {
		text-decoration: underline;
	}
}



/*Blog posts*/
.post-home {
	padding-top: 40px;
	padding-bottom: 30px;
	border-top: $text-color $border-height solid;	
	img {
		margin-bottom: 25px;
		@include box-shadow;
		max-width: 100%;
	}
}
.meta-data {
	font-style: italic;
	margin-bottom: 20px;
	span {
		margin-right: 20px;
	}
}
