$link-color: #cc092f;
$text-color: #444444;
$hover-color: #167499;
$white: #f8f8f8;

@mixin box-shadow {
	-webkit-box-shadow: 0px 0px 4px #dadada;
	-moz-box-shadow: 0px 0px 4px #dadada;
	box-shadow: 0px 0px 4px #dadada;
}
@mixin text-shadow {
	text-shadow: 0px 0px 5px #88192e;
}

@mixin proxima-bold {
	font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
	font-weight: 700;
}
@mixin proxima-italic {
	font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
	font-weight: 400;
	font-style: italic;
}
@mixin body-h1 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 20px;
}
body {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
	font-size: 15px;
	line-height: 23px;
	color: $text-color;
}
h1, h2, h3, h4, h5, h6 {	
	@include proxima-bold;	
}
p {
	margin-bottom: 20px;
}
a, a:visited, a:link {
	color: $link-color;
	text-decoration: none;
}
em {
	font-style: italic;
}
a:hover {
	color: $hover-color;
}
.external {
	color: $hover-color;
	font-size: 30px;
	font-weight: 400;
  -webkit-transform: rotate(0rad);
  -moz-transform: rotate(0rad);
  -o-transform: rotate(0rad);
  transform: rotate(0rad);
	padding-top: 7px;	
}
#container .grid_24 {
	position: relative;
}
blockquote {
	padding-left: 20px;
	border-left: 1px dotted $hover-color;
	color: $hover-color;
	font-size: 15px;
	margin-bottom: 20px;
	font-style: italic;
}

pre {
	@include box-shadow;
	padding: 16px 20px;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 40px;
}

pre, code, kbd, samp { 
	font-family: 'Monaco', 'andale mono', 'lucida console', monospace;
}
code.default-size {
	font-size: 13px;
}
code.inline {
	font-size: 12px;
	background: #EEEEEE;
	border-bottom: 1px solid #CECECE;
	padding: 2px;
}

header {
	width: 860px;
	background: $link-color;
	float: right;
	@include box-shadow;
	h1 {
		font-size: 30px;
		line-height: 32px;
		margin: 16px 0 18px 30px;
		@include text-shadow;	
		a {
			color: $white !important;
		}
	}
}
#sidebar {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 13px;
	line-height: 20px;
	#fixed {
		@include proxima-bold;
		position: fixed;
		background-color: rgba(255,255,255,.9);
		@include box-shadow;
		padding: 10px 16px;
		width: 158px;
	}
	nav {
		display: block;
		overflow: hidden;
		li {
			width: 79px;
			float: left;
			a {
				display: block;
				&.selected {
					color: $text-color;
					cursor: default;
				}
			}
		}
		&#main-nav {
			font-size: 18px;
			margin-bottom: 22px;
			line-height: 23px;
		}
	}
}
#main {
	margin-top: 40px;
}
#static {	
	margin-left: 120px;
	h1 {
		@include body-h1;
	}
	h2 {
		font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
		margin-bottom: 4px;
	}
	section {
		margin-bottom: 40px;
	}
}
footer {
	padding-left: 125px;
	margin-top: 10px;
	font-style: italic;
	font-size: 11px;
}

/*homepage*/
.post-home, #post {
	margin-bottom: 40px;
	.date {
		@include proxima-italic;
		font-size: 11px;
		text-align: right;
		padding-right: 20px;
		width: 90px;
		margin-top: 9px;
	}
	h1 {
		@include body-h1;
	}
	h2 {
		font-size: 15px;
		font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
		margin-bottom: 3px;
	}
	img, #post-body, .summary, iframe {
		margin-left: 120px;
	}
	img, iframe {
		margin-bottom: 10px;
	}
}

/*work*/
section.work {
	margin-bottom: 40px;	
	&.multiple img {
		margin-bottom: 30px;
	}
	img.shadow {
		@include box-shadow;
	}
}


/* comments */

#disqus_thread {
	margin-left: 120px;
	margin-top: 40px;
	overflow: hidden;
	border-top: 1px solid #C1C1C1;
}
.dsq-textarea-reply {
	margin-left: 0 !important;
}
#dsq-sort-by, #dsq-pagination, .dsq-trackback-url, .dsq-brlink, #dsq-global-toolbar, #dsq-account-dropdown {
	display: none !important;
}
.dsq-textarea-wrapper iframe {
	margin-left: 0 !important;
}
.dsq-comment-body {
	padding-left: 0 !important;
}
#dsq-reply {
	margin-top: 15px !important;
}
#dsq-content h3 {
	margin-bottom: 15px !important;
}
