---
layout: default
---
<article id="post">
  <span class="date grid_3 alpha">{{ page.date | date: "%d %B %Y" }}</span> 
  <h1 class="grid_14 omega">
    {{ page.title }}
  </h1>
  {% if page.image-path %}
    <img src="{{ page.image-path }}"/ >
  {% endif %}
  {% if page.youtube %}
    <iframe width="550" height="452" src="{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
  {% endif %}
  <div class="clear"></div>
  <div id="post-body">
    {{ content }}
  </div>
  <div class="clear"></div>
</div>